.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.player-options {
	padding: 100px 0px;
}

.score-display {
}

.btn-selection {
	background-color: black;
	padding: 20px 50px;
	color: white;
	font-size: 22px;
	font-weight: 800;
	border: 0px;
	margin: 20px;
	cursor: pointer;
}
